<ul class="nav nav-tabs" role="tablist">
    <li><a href="#/main">Home</a></li>
    <li><a href="#/agenda-day-1">Day 1</a></li>
    <li class="active"><a href="#/agenda-day-2">Day 2</a></li>
    <li><a href="#/speakers">Speakers</a></li>
    <li><a href="#/presentations">Presentations</a></li>
    <li><a href="#/geecoins">GeeCOINS</a></li>
</ul>

<h1>Agenda day 2 - 24th of October</h1>

<table class="table table-striped table-bordered table-responsive top-buffer">
    <colgroup>
        <col class="col-md-1">
        <col class="col-md-2">
        <col class="col-md-2">
        <col class="col-md-2">
        <col class="col-md-2">
    </colgroup>
    <tbody>
    <tr>
        <td class="center-text">8:30 - 9:00</td>
        <td colspan="4">Breakfast</td>
    </tr>
    <tr>
        <td class="center-text">9:00 - 10:00</td>
        <td>
            <a href="#/presentation/36">Douglas Tait</a><br>
            Real Time Communications on the Web
        </td>
        <td>
            <a href="#/presentation/13">Oleg Selajev</a><br>
            Unlocking the Magic of Monads in Java 8
        </td>
        <td>
            <a href="#/presentation/25">Jarosław Ratajski</a><br>
            Doing WEB development clean way
        </td>
        <td>
            <a href="#/presentation/8">Maciej Świderski</a><br>
            jBPM: The BPM Swiss Knife
        </td>
    </tr>
    <tr>
        <td class="center-text">10:00 - 10:20</td>
        <td colspan="4">Coffee break</td>
    </tr>
    <tr>
        <td class="center-text">10:20 - 11:20</td>
        <td>
            <a href="#/presentation/34">Tomasz Szymański & Jarosław Kijanowski</a><br>
            Make and Conquer: Start making your own things
        </td>
        <td>
            <a href="#/presentation/21">Anton Arhipov</a><br>
            Having fun with Javassist
        </td>
        <td>
            <!--<a href="#/presentation/xxxx">Stefano Gioia</a><br>-->
            TBA
        </td>
        <td>
            <!--<a href="#/presentation/xxxx">Ted Neward</a><br>-->
            TBA
        </td>
    </tr>
    <tr>
        <td class="center-text">11:20 - 11:30</td>
        <td colspan="4">Break</td>
    </tr>
    <tr>
        <td>11:30 - 12:30</td>
        <td>
            <a href="#/presentation/30">Roman Bosak</a><br>
            Extinction of Dinosaurs -> Rise of Microservices
        </td>

        </td>
        <td>
            <a href="#/presentation/2">Gleb Smirnov</a><br>
            Java Concurrency Under the Hood
        </td>
        <td>
            <a href="#/presentation/9">Michael Heinrichs</a><br>
            Do-It-Yourself Usability Design for Developers
        </td>
        <td>
            <a href="#/presentation/5">Andres Almiray</a><br>
            Build, Test, and Deploy JavaFX Applications
        </td>
    </tr>
    <tr>
        <td>12:30 - 13:20</td>
        <td colspan="4">Lunch Break</td>
    </tr>
    <tr>
        <td>13:20 - 14:20</td>
        <td>
            <a href="#/presentation/1">Gerrit Grunwald</a><br>
            Catch me if you can" - Java on wearables
        </td>
        <td>
            <a href="#/presentation/19">Nikita Salnikov-Tarnovski</a><br>
            I bet you have a memory leak
        </td>
        <td>
            <a href="#/presentation/10">Lukas Eder</a><br>
            2000 Lines of Java? Or 50 Lines of SQL? The Choice is Yours
        </td>
        <td>
            <a href="#/presentation/17">Lukas Fryc</a><br>
            One ring to... notify them all: Unified Push for Mobile Devices

        </td>
    </tr>

    <tr>
        <td>14:20 - 14:30</td>
        <td colspan="4">Break</td>
    </tr>
    <tr>
        <td>14:30 - 15:30</td>
        <td>

            <a href="#/presentation/41">Séven Le Mesle</a><br>
            Predicting passenger fares from the users logs
        </td>
        <td>
            <a href="#/presentation/20">Nitsan Wakart</a><br>
            The Illusion of Execution
        </td>
        <td>
            <a href="#/presentation/37">Miroslav Kopecky</a><br>
            The Robot under dictate of the LegoMindStorm + Java Concurrency API: Let’s shift the future!
        </td>
        <td>
            <a href="#/presentation/32">Toni Epple</a><br>
            How to develop Java apps for iOS, Android, FX and more in NetBeans
        </td>
    </tr>
    <tr>
        <td>15:30 - 15:50</td>
        <td colspan="4">Coffee Break</td>
    </tr>
    <tr>
        <td>15:50 - 16:50</td>
        <td colspan="4">
            <!--<a href="#/presentation/32">Bruce Eckel</a><br>-->
            TBA
        </td>
    </tr>
    </tbody>
</table>
