<ul class="nav nav-tabs" role="tablist">
    <li><a href="#/main">Home</a></li>
    <li class="active"><a href="#/agenda-day-1">Day 1</a></li>
    <li><a href="#/agenda-day-2">Day 2</a></li>
    <li><a href="#/speakers">Speakers</a></li>
    <li><a href="#/presentations">Presentations</a></li>
    <li><a href="#/geecoins">GeeCOINS</a></li>
</ul>

<h1>Agenda day 1 - 23rd of October</h1>

<table class="table table-striped table-bordered table-responsive top-buffer">
    <colgroup>
        <col class="col-sm-1">
        <col class="col-sm-3">
        <col class="col-sm-3">
        <col class="col-sm-3">
    </colgroup>
    <tbody>
    <tr>
        <td class="center-text">09:00 - 10:00</td>
        <td colspan="3">Registration & breakfast</td>
    </tr>
    <tr>
        <td class="center-text">10:00 - 10:10</td>
        <td colspan="3">Opening ceremony</td>
    </tr>
    <tr>
        <td class="center-text">10:10 - 10:30</td>
        <td colspan="3">Platinum Sponsor keynote</td>
    </tr>
    <tr>
        <td class="center-text">10:30 - 11:30</td>
        <td colspan="3">
            <a href="#/presentation/43">Neal Ford</a><br>
            This is Water
        </td>
    </tr>
    <tr>
        <td class="center-text">11:30 - 11:50</td>
        <td colspan="3">Coffee Break</td>
    </tr>
    <tr>
        <td class="center-text">11:50 - 12:50</td>
        <td>
            <a href="#/presentation/11">Markus Eisele</a><br>
            50 new features of Java EE 7
        </td>
        <td>
            <a href="#/presentation/7">Janne Sinivirta</a><br>
            Pragmatic Architecture for Agile Teams
        </td>
        <td>
            <a href="#/presentation/6">Andrey Cheptsov</a><br>
            A Reactive and Type-safe Kotlin DSL for NoSQL and SQL
        </td>
    </tr>
    <tr>
        <td>12:50 - 13:40</td>
        <td colspan="3">Lunch Break</td>
    </tr>
    <tr>
        <td>13:40 - 14:40</td>
        <td>
            <a href="#/presentation/3">Iván López</a><br>
            Metaprogramming with Groovy
        </td>
        <td>
            <a href="#/presentation/22">Oliver Gierke</a><br>
            Whoops! Where did my architecture go?
        </td>
        <td>
            <a href="#/presentation/31">Andrzej Grzesik</a><br>
            Go! The one language you have to try in 2014
        </td>
    </tr>
    <tr>
        <td>14:40 - 14:50</td>
        <td colspan="3">Break</td>
    </tr>
    <tr>
        <td>14:50 - 15:40</td>
        <td>
            <a href="#/presentation/28">Jakub Marchwicki</a><br>
            JEE'ish development without a hassle
        </td>
        <td>
            <a href="#/presentation/44">Neal Ford</a><br>
            Functional Thinking in Java 8, Clojure, Groovy, and Scala
        </td>
        <td>
            <a href="#/presentation/40">Kevin Webber</a><br>
            Go Reactive! Reactive web application development with Scala, Play, and Akka
        </td>
    </tr>
    <tr>
        <td>15:40 - 16:00</td>
        <td colspan="3">Coffee Break</td>
    </tr>
    </tbody>
</table>

<h3>Lightning talks</h3>
<table class="table table-striped table-bordered table-responsive top-buffer">
    <colgroup>
        <col class="col-sm-1">
        <col class="col-sm-3">
        <col class="col-sm-3">
        <col class="col-sm-3">
    </colgroup>
    <tbody>
    <tr>
        <td>16:00 - 16:15</td>
        <td>
            <a href="#/presentation/18">Heather VanCura</a><br>
            JCP, Adopt-a-JSR & You
        </td>
        <td>
            <a href="#/presentation/26">Matej Briškár</a><br>
            JBoss Forge – building apps happens to be fun
        </td>
        <td>
            <a href="#/presentation/35">Václav Vávra</a><br>
            Lockless hashmap implementation
        </td>
    </tr>
    <tr>
        <td>16:15 - 16:20</td>
        <td colspan="3">Break</td>
    </tr>
    <tr>
        <td>16:20 - 16:35</td>
        <td>
            <a href="#/presentation/39">Krzysztof Dębski</a><br>
            Technical product owner or how to built technical backing for services.
        </td>
        <td>
            <a href="#/presentation/23">Martin Večeřa & Pavel Macík</a><br>
            Good, Better, PerfCake
        </td>
        <td>
            <a href="#/presentation/27">Juraj Michálek</a><br>
            Bigger and better Y Soft RnD with full Atlassian stack
        </td>
    </tr>
    <tr>
        <td>16:35 - 16:40</td>
        <td colspan="3">Break</td>
    </tr>
    <tr>
        <td>16:40 - 17:00</td>
        <td>
            <a href="#/presentation/29">Karel Rank</a><br>
            Low-latency trading system in Java - SubM
        </td>
        <td>
            <a href="#/presentation/47">Fabian Förster</a><br>
            Zipkin@E-Post: Debugging the Legacy
        </td>
        <td>
            <a href="#/presentation/38">Katarzyna Mrowca</a><br>
            Agile Project Management Anti-Patterns
        </td>
    </tr>
    <tr>
        <td>17:00 - 17:10</td>
        <td colspan="3">Break</td>
    </tr>
    </tbody>
</table>

<table class="table table-striped table-bordered table-responsive top-buffer">
    <colgroup>
        <col class="col-sm-1">
        <col class="col-sm-3">
        <col class="col-sm-3">
        <col class="col-sm-3">
    </colgroup>
    <tbody>
    <tr>
        <td>17:10 - 18:00</td>
        <td>
            <a href="#/presentation/4">Václav Pech</a><br>
            JetBrains MPS - Speaking your language
        </td>

        <td>
            <a href="#/presentation/12" class="whiteText">Martin Skurla</a><br>
            When assertThat(you). understandUnitTesting() fails
        </td>
        <td>
            <a href="#/presentation/42">Konrad Malawski</a><br>
            Reactive streams and Akka streams
        </td>
    </tr>
    </tbody>
</table>

<h3>Party and speakers dinner on a boat. Starting at 20:30</h3>
