<ul class="nav nav-tabs" role="tablist">
    <li><a href="#/main">Home</a></li>
    <li><a href="#/agenda-day-1">Day 1</a></li>
    <li><a href="#/agenda-day-2">Day 2</a></li>
    <li><a href="#/speakers">Speakers</a></li>
    <li><a href="#/presentations">Presentations</a></li>
    <li class="active"><a href="#/geecoins">GeeCOINS</a></li>
</ul>
<h1>GeeCONOINS!</h1>

<h3>How to win?</h3>
<p>Mine as many GEECOINS as possible!</p>

<h3>There are many ways to gather your GEECOINS:</h3>
<ul>
    <li>talk to sponsors they are equipped with their GEECOIN set at the beginning of every conference day.</li>
    <li>participate and engage in conference talks. Speakers will have special White GEECOINS which are worth 10 times
        more than standard ones.
    </li>
    <li>check under your chair - one might be hidden there :)</li>
</ul>

<h3>Prizes</h3>
<p>The official announcement of the results will be announced at the end of the conference.</p>
<p>The prizes: Lego Mindstorms set, Arduino set and Rasberry Pi.</p>

<h3>What are GEECOINS?</h3>
<p>There are three types available:</p>
<ul>
    <li>Yellow GEECOIN – the most popular and widely available GEECOIN. Get as many of them as possible to win the
        competition. Every yellow GEECOIN adds 1 to your overall GEECOIN count.
    </li>
    <li>White GEECOIN – to get them you need to participate in conference talks and be noticed by a speaker. The more
        active you are – the more chances you have to get your white GEECOIN. Every white GEECOIN adds 10 to your
        overall GEECOINS count.
    </li>
    <li>Black GEECOIN – this is a „wild card”. These are totally rare, there is only a few of them available. Black
        GEECOIN lets you advance one place up in final ranking – no matter how many (or few) GECOINS you already have.
        Black GEECOIN does not add „1” to your overall GEECOINS count.
    </li>
</ul>

<h3>GEECOIN mining camp</h3>
<p>Visit GeeCON afterparty and its “Mining Camp” to get even more GEECOINS!</p>
<em>“He who doesn’t risk, never gets to drink champagne”</em>
<p>Get ready to answer questions served by our team. To take part you will have to bet your GEECOINS (as many of them as
    you like). If your answer is right you take home twice as much, if it’s not we are taking everything you’ve bet.
    Each participant can bet only once.</p>

<small>Organizers, partners and sponsors are excluded from competition.
    Don’t worry guys, you are special anyway:)
</small>


