<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#/main">Home</a></li>
    <li><a href="#/agenda-day-1">Agenda day 1</a></li>
    <li><a href="#/agenda-day-2">Agenda day 2</a></li>
    <li><a href="#/speakers">Speakers</a></li>
    <li><a href="#/presentations">Presentations</a></li>
</ul>
<h1>GeeCON agenda app</h1>

<p>
    GeeCON is a conference focused on Java and Java Virtual Machine based technologies, with special attention to
    dynamic languages like Groovy and Ruby. GeeCON is a forum for sharing experiences about modern software development
    methodologies, enterprise architectures, software craftsmanship, design patterns, distributed computing and more!
</p>
<!--<div class="row">-->
<!--<div class="col-md-4">-->
<!--<a href="http://www.facebook.com/geecon.conference" target="_blank">Facebook</a>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<a href="http://www.twitter.com/geecon" target="_blank">Twitter</a>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<a href=" http://www.linkedin.com/groups?gid=1576517" target="_blank">Linked In</a></div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-4"><a href="http://picasaweb.google.com/geecon.org/" target="_blank">Picasa</a></div>-->
<!--<div class="col-md-4"><a href="http://feeds.feedburner.com/geecon" target="_blank">Feeds</a></div>-->
<!--<div class="col-md-4"><a href="http://lanyrd.com/2014/geecon-prague" target="_blank">Lanyrd</a></div>-->
<!--</div>-->