<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#/main">Home</a></li>
    <li><a href="#/agenda-day-1">Day 1</a></li>
    <li><a href="#/agenda-day-2">Day 2</a></li>
    <li><a href="#/speakers">Speakers</a></li>
    <li><a href="#/presentations">Presentations</a></li>
    <li><a href="#/geecoins">GeeCOINS</a></li>
</ul>
<h1>GeeCON 2014 - 23-24 October, Prague</h1>
<p>
    GeeCON is a conference focused on Java and Java Virtual Machine based technologies, with special attention to
    dynamic languages like Groovy and Ruby. GeeCON is a forum for sharing experiences about modern software development
    methodologies, enterprise architectures, software craftsmanship, design patterns, distributed computing and more!
</p>