<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#/main">Home</a></li>
    <li><a href="#/agenda-day-1">Agenda day 1</a></li>
    <li><a href="#/agenda-day-2">Agenda day 2</a></li>
    <li><a href="#/speakers">Speakers</a></li>
    <li><a href="#/presentations">Presentations</a></li>
</ul>
<h1>GeeCON agenda app</h1>

<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="onShowAgenda()">Agenda</button>
<button type="button" class="btn btn-default btn-lg btn-block" ng-click="onShowSpeakers()">Speakers</button>
<button type="button" class="btn btn-default btn-lg btn-block" ng-click="onShowPresentations()">Presentations</button>