<ul class="nav nav-tabs" role="tablist">
    <li><a href="#/main">Home</a></li>
    <li><a href="#/agenda-day-1">Agenda day 1</a></li>
    <li><a href="#/agenda-day-2">Agenda day 2</a></li>
    <li><a href="#/speakers">Speakers</a></li>
    <li class="active"><a href="#/presentations">Presentations</a></li>
</ul>
<h1>{{presentation.title}}</h1>
<p ng-bind-html="presentation.summary"></p>
<h2>Speaker:</h2>
<ul ng-repeat="speaker in presentation.speakers">
    <li class="remove-list-dot">
        <a href="#/speaker/{{speaker.id}}">
            <img src="{{speaker.photo}}" alt="{{speaker.name}}" class="speaker-img"> <span
                class="speaker-name">{{speaker.name}}</span>
        </a>
    </li>
</ul>
