<ul class="nav nav-tabs" role="tablist">
    <li><a href="#/main">Home</a></li>
    <li><a href="#/agenda-day-1">Agenda day 1</a></li>
    <li><a href="#/agenda-day-2">Agenda day 2</a></li>
    <li class="active"><a href="#/speakers">Speakers</a></li>
    <li><a href="#/presentations">Presentations</a></li>
</ul>
<h1>{{speaker.name}}</h1>
<img src="{{speaker.photoUrl}}" class="speaker-img imgage-center" alt="{{speaker.name}}">
<p ng-bind-html="speaker.bio"></p>
<h2>Presentations:</h2>
<ul ng-repeat="presentation in speaker.presentations">
    <li class="remove-list-dot">
        <a href="#/presentation/{{presentation.id}}">
            <span>{{presentation.title}}</span>
        </a>
    </li>
</ul>
